<div class="main-content">
  <% if @searched %>
    <% if @searched_jobs.empty? %>
      <h2 class="text-center">No results matched your search</h2>
    <% else %>
      <h2 class="text-center">Search results</h2>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-2">
      <h2>Job search</h2>
      <%= form_tag(jobs_path, method: 'get') do %>
        <div class="form-group">
          <%= label_tag("search[name]", "Search jobs") %>
          <%= text_field_tag("search[name]", '', class: 'form-control', placeholder: 'Job name') %><br>
          <%= label_tag("search[job_category]", "Job category") %>
          <%= select_tag("search[job_category]", options_for_select(@job_categories), {include_blank: true}) %><br><br>
          <%= label_tag("search[time]", "Employment length") %><br>
          <%= label_tag("search[time]", "Full Time") %>
          <%= radio_button_tag("search[time]", 'Full') %>
          <%= label_tag("search[time]", "Part Time") %>
          <%= radio_button_tag("search[time]", 'Part') %>
          <%= label_tag("search[time]", "Seasonal") %>
          <%= radio_button_tag("search[time]", 'Seasonal') %>
          <%= label_tag("search[time]", "Contract") %>
          <%= radio_button_tag("search[time]", 'Contract') %><br><br>
          <%= label_tag("search[created_at]", "Date added") %><br>
          <%= label_tag("search[created_at]", "Past week") %>
          <%= radio_button_tag("search[created_at]", "week") %><br>
          <%= label_tag("search[created_at']", "Past month") %>
          <%= radio_button_tag("search[created_at]", "month") %><br>
          <%= label_tag("search[created_at]", "Past year") %>
          <%= radio_button_tag("search[created_at]", "year") %><br>
          <%= button_tag("Search", class: 'btn btn-default') %>
        </div>
      <% end %>
    </div>
    <div class="col-md-10">
      <% @searched_jobs.each_slice(6) do |slice| %>
        <div class="row">
          <% slice.each do |job| %>
            <div class="col-md-2">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center"><%= link_to job.name, job_path(job) %></h3>
                </div>
                <div class="panel-body text-center">
                  <%= link_to image_tag(job.company.logo.url(:thumb)), company_path(job.company) %>
                  <p><%= job.job_category %></p>
                  <p><%= job.location %></p>
                  <p><%= pluralize(job.apply_count, 'person') %> 
                  applied to this job</p>
                  <% if job.time == 'Full' || job.time == 'Part' %>
                    <p><%= job.time %> time</p>
                  <% else %>
                    <p><%= job.time %></p>
                  <% end %>
                  <% if job.steady_wage? %>
                    <p><%= number_to_currency(job.max_wage) %></p>
                  <% else %>
                    <p><%= number_to_currency(job.min_wage) %> - <%= number_to_currency(job.max_wage) %></p>
                  <% end %>
                  <p>Post: <%= job.created_at.to_time.strftime('%B %e at %l:%M %p') %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
