<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Min wage:</strong>
  <%= @job.min_wage %>
</p>

<p>
  <strong>Max wage:</strong>
  <%= @job.max_wage %>
</p>

<p>
  <strong>Time:</strong>
  <%= @job.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<% if employer_signed_in? %>
  <% if current_employer.jobs.exists?(@job.id) %>
    <%= link_to 'Edit', edit_job_path(@job) %> |
  <% end %>
<% end %>

<%= link_to 'Back', jobs_path %>

<% if user_signed_in? %>
  <% unless current_user.jobs.exists?(@job.id) %>
    <%= link_to 'Apply', controller: :job_applications, action: :new, job_id: @job.id %>
  <% end %>
<% end %>
