<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @job_application.job_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @job_application.user_id %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @job_application.employer_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @job_application.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @job_application.last_name %>
</p>

<p>
  <strong>Cover letter:</strong>
  <%= @job_application.cover_letter %>
</p>

<%= link_to 'Edit', edit_job_application_path(@job_application) %> |
<%= link_to 'Back', job_applications_path %>
