<tr>
  <td><%= job.name %></td>
  <td><%= job.company %></td>
  <td><%= job.min_wage %></td>
  <td><%= job.max_wage %></td>
  <td><%= job.time %></td>
  <td><%= job.location %></td>
  <td><%= job.description %></td>
  <td><%= link_to 'Show', job %></td>
  <td><%= link_to 'Edit', edit_job_path(job) %></td>
  <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
