<tr>
  <td><%= job.name %></td>
  <td><%= job.company.name %></td>
  <td><%= image_tag job.company.logo.url(:thumb) %></td>
  <td><%= job.min_wage %></td>
  <td><%= job.max_wage %></td>
  <td><%= job.time %></td>
  <td><%= job.location %></td>
  <td><%= job.job_category %></td>
  <td><%= job.apply_count %></td>
  <td><%= job.description %></td>
  <td><%= link_to 'Show', job %></td>
  <% if employer_signed_in? %>
    <% if current_employer.jobs.exists?(job.id) %>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
      <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  <% end %>
</tr>
