<%= form_for([@company, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :pros %><br>
    <%= f.text_field :pros %>
  </div>
  <div class="field">
    <%= f.label :cons %><br>
    <%= f.text_field :cons %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
