<div class="main-content">
  <h1 class="text-center"><%= @company.name %> Jobs</h1>
  <% unless @searched_jobs.empty? %>
    <h2 class="text-center">Search results</h2>
  <% end %>
  <div class="row">
    <div class="col-md-2">
      <h2>Job search</h2>
      <%= form_tag(company_jobs_path(@company), method: 'get') do %>
        <div class="form-group">
          <%= label_tag(:name, "Search jobs") %>
          <%= text_field_tag(:name, '', class: 'form-control', placeholder: 'Job name') %><br>
          <%= label_tag(:job_category, "Job category") %>
          <%= select_tag(:job_category, options_for_select(@job_categories), {include_blank: true}) %><br><br>
          <%= label_tag(:time, "Employment length") %><br>
          <%= label_tag(:time, "Full Time") %>
          <%= radio_button_tag('time', 'Full') %>
          <%= label_tag(:time, "Part Time") %>
          <%= radio_button_tag('time', 'Part') %>
          <%= label_tag(:time, "Seasonal") %>
          <%= radio_button_tag('time', 'Seasonal') %>
          <%= label_tag(:time, "Contract") %>
          <%= radio_button_tag('time', 'Contract') %><br><br>
          <%= label_tag(:created_at, "Date added") %><br>
          <%= label_tag(:created_at, "Past week") %>
          <%= radio_button_tag('created_at', "week") %><br>
          <%= label_tag(:created_at, "Past month") %>
          <%= radio_button_tag('created_at', "month") %><br>
          <%= label_tag(:created_at, "Past year") %>
          <%= radio_button_tag('created_at', "year") %><br>
          <%= button_tag("Search", class: 'btn btn-default') %>
        </div>
      <% end %>
    </div>
    <div class="col-md-10">
      <% @searched_jobs.each_slice(5) do |slice| %>
        <div class="row">
          <% slice.each do |job| %>
            <div class="col-md-2">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center"><%= link_to job.name, job_path(job) %></h3>
                </div>
                <div class="panel-body text-center">
                  <p><%= job.job_category %></p>
                  <p><%= pluralize(job.apply_count, 'person') %> applied to this job</p>
                  <% if user_signed_in? %>
                    <% unless current_user.jobs.exists?(job.id) %>
                      <%= link_to 'Apply', controller: :job_applications, action: :new, job_id: job.id %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
