<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center"><%= link_to @company.name, company_path(@company) %></h1>
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <p><%= link_to image_tag(@company.logo.url(:medium)), company_path(@company) %></p>
          <h2><%= link_to pluralize(@company.jobs.count, 'job'), company_jobs_path(@company.id) %></h3>
          <h2><%= link_to pluralize(@company.reviews.count, 'review'), company_path(@company, anchor: 'reviews') %></h3>
          <% if @company.url %>
            <p><%= link_to "#{@company.name} website", @company.url %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% unless @random_jobs.empty? %>
      <div class="col-md-6 text-center">
        <div class="row">
          <div class="col-md-12">
            <h2>Some jobs by <%= @company.name %></h2>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-md-6">
      <% @random_jobs.each_slice(2) do |slice| %>
        <div class="row">
          <% slice.each do |job| %>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center"><%= link_to job.name, job_path(job) %></h3>
                </div>
                <div class="panel-body text-center">
                  <p><%= job.job_category %></p>
                  <p><%= pluralize(job.apply_count, 'person') %> applied to this job</p>
                  <% if user_signed_in? %>
                    <% unless current_user.jobs.exists?(job.id) %>
                      <%= link_to 'Apply', controller: :job_applications, action: :new, job_id: job.id %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <h1><%= pluralize(@company.reviews.count, 'review') %></h1>
  <%= render partial: 'shared/review', collection: @reviews %>
  <% if user_signed_in? %>
    <% unless already_reviewed?(@company.id) %>
      <div class="row">
        <div class="col-md-4">
          <%= form_tag(company_reviews_path(@company), method: :post) do %>
            <div class="form-group">
              <%= label_tag "Review content" %>
              <%= text_field_tag('review[content]', '', class: 'form-control', placeholder: 'Something to say about this company') %><br>
              <%= label_tag "Pros" %>
              <%= text_field_tag('review[pros]', '', class: 'form-control', placeholder: 'Something nice to say') %><br>
              <%= label_tag "Cons" %>
              <%= text_field_tag('review[cons]', '', class: 'form-control', placeholder: 'Something bad to say') %><br>
              <%= submit_tag("Submit", class: 'btn btn-default') %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
