<!DOCTYPE html>
<html>
<head>
  <title>JobsBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="links">
		<%= link_to 'Jobs', jobs_path %>
		<% if user_signed_in? %>
      <%= link_to 'Your Jobs', users_path %>
      <%= link_to 'View Applications', job_applications_path %>
			<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
		<% elsif employer_signed_in? %>
			<%= link_to 'New Job', new_job_path %>
      <%= link_to 'My Jobs', employers_path %>
      <%= link_to 'View Applications', job_applications_path %>
			<%= link_to 'Sign Out', destroy_employer_session_path, method: :delete %>
		<% else %>
			<%= link_to 'Sign up', new_user_registration_path %>
			<%= link_to 'Sign in', new_user_session_path %>
			<%= link_to 'Employer Sign Up', new_employer_registration_path %>
			<%= link_to 'Employer Sign In', new_employer_session_path %>
		<% end %>
	</div>

	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
